.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #ffffff91;
    z-index: 10000;
}

.content {
    font-size: 1.5rem;
}
