@import '../../../../styles/variables';
.list-item {
    display: inline-flex;

    @media (max-width: $max-small) {
        display: block;
    }
}

.star {
    $size: 40px;

    width: $size;
    height: $size;
    font-size: $size;
    overflow: hidden;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    &.favorite {
        color: #ffe600;
    }
}
