@import "variables";

html, body { height: 100%; }

html,
body {
    position: relative;
    margin: 0;
    font-family: $default-font;
    font-size: 16px;
    line-height: $line-height-default;
}

input {
    padding: $string-padding;
    font-size: 1rem;
    font-family: $default-font;
    border: 1px solid slategray;
    border-radius: $border-radius;
}

button {
    cursor: pointer;
}

//hide to work with grids
router-outlet {
    display: none;
}

iframe {
    width: $iframe-width;
    min-width: $min-iframe-width;
    height: $iframe-height;
    min-height: $min-iframe-height;
}
