@import 'variables';

$btn-padding: $string-padding;

.g-btn {
    display: inline-block;
    font-size: 1rem;
    padding: $btn-padding $btn-padding * 1.5;
    border: 1px solid  slategray;
    background: transparent;
    color:  slategray;
    line-height: $line-height-default;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        padding: $btn-padding $btn-padding * 1.5;
        border: 1px solid darkslategray;
        color: darkslategray;
    }

}

.g-btn-error {
    background: transparent;
    color: rosybrown;
    border: 1px solid  rosybrown;

    &:hover,
    &:focus,
    &:active {
        border: 1px solid saddlebrown;
        color: saddlebrown;
    }
}
