//common
$string-padding: 8px; //main padding for content
$content-padding: 20px; //main padding for structure
$border-radius: 3px;

//font
$default-font: 'Roboto', sans-serif;
$line-height-default: 1.2;
