<div class="content-list">

    <div class="top-panel">
        <h1>Список</h1>
    </div>

    <div class="control-panel">
        <div class="filter">
            <app-inline-search [(search)]="filterValue"></app-inline-search>
        </div>
        <div class="buttons">

            <label class="checkbox-label"><input type="checkbox"
                                                 class="checkbox-btn">Only favorites</label>
            <button class="g-btn g-btn-error">Clear favorites</button>
        </div>
    </div>

    <div class="list">

        <app-list-item *ngFor="let video of videos | filterItems:filterValue"
                       [video]="video"
                       (onToggle)="toggle($event, video.id.videoId)"
                       [selected]="isSelected(video.id.videoId)"></app-list-item>
    </div>
</div>
