<div class="content-list">

    <div class="top-panel">
        <h1>Популярные видео. Топ-50.</h1>
    </div>

    <div class="control-panel">
        <div class="filter">
            <app-inline-search [(search)]="filterValue"></app-inline-search>
        </div>
        <div class="buttons">

            <label class="checkbox-label"><input type="checkbox"
                                                 class="checkbox-btn"
                                                 (click)="toggleOnlyFavoriteMode()"
                                                 [defaultChecked]="isShowOnlyFavorite()">Только избранные</label>
            <button class="g-btn g-btn-error" (click)="clearFavorites()">Очистить избранные
            </button>
        </div>
    </div>

    <div class="list">

        <app-list-item *ngFor="let video of videos | filterItems:filterValue: isShowOnlyFavorite()"
                       [video]="video"
                       (onToggle)="toggle(video.id)"
                       [favorite]="isItemFavorite(video.id)"></app-list-item>


<!--        <app-list-item></app-list-item>-->
<!--        <app-list-item></app-list-item>-->
<!--        <app-list-item></app-list-item>-->
        <div id="anchor"></div>
    </div>

</div>
