@import '../../styles/variables';

:host {
    display: grid;
    overflow: hidden;
    width: 100%;
}

.content-list {
    display: grid;
    grid-template-rows: minmax(60px, auto) minmax(60px, auto) 1fr;
    padding-bottom: 20px;
    overflow: auto;
    text-align: center;
}

.top-panel {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 $content-padding;

    small   {
        line-height: 1.5;
    }
}

.control-panel {
    display: grid;
    grid-row-gap: $content-padding;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(min(1), 1fr);
    padding: $content-padding;
    overflow: auto;
    align-items: center;
    border-bottom: 1px solid #ccc;

    @media(max-width: $max-small){
        grid-row-gap: $string-padding;
        grid-template-columns: 1fr;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax($iframe-width + 40, 1fr));
    width: 100%;
    padding: $content-padding;
    margin: 0 auto;
    overflow: auto;

    @media(max-width: $max-small){
        grid-template-columns: 1fr;
    }
}

.filters {
    width: 300px;

    @media (max-width: $max-small) {
        width: 100%;
    }

    label,
    input {
        width: 100%;
    }
}

.checkbox-btn {
    display: flex;
    height: 1.25rem;
    margin: $string-padding $string-padding * 2 $string-padding 0;
    align-items: center;
    cursor: pointer;

    @media(max-width: $max-small){
        margin: $string-padding $string-padding * 2 $string-padding * 2 0;

    }
}

#scrollAnchor {
    align-self: end;
    height: 40px;
}

.more-wrap {
    padding: $content-padding / 2 0 0;
}
