<div class="content-list">

    <div class="top-panel">
        <h1>Популярные видео. Топ-{{youtube.defaultSummaryResult}}.</h1>
        <br>
        <small><i>Загружено {{videos.length}}</i></small>
    </div>

    <div class="control-panel">
        <div class="filter">
            <app-inline-search [(search)]="filterValue"></app-inline-search>
        </div>
        <div class="buttons">
            <mat-checkbox
                class="checkbox-btn"
                [(ngModel)]="showOnlyFavorite">
                Только избранные
            </mat-checkbox>
            <button mat-stroked-button
                    color="accent"
                    (click)="clearFavorites()">Очистить избранные
            </button>
        </div>
    </div>

    <div class="list"
         appInfiniteScroll
         (onScroll)="getVideoList()"
         [cancelScroll]="cancelScroll"
         #list>

        <app-list-item *ngFor="let video of videos | filterItems:filterValue:showOnlyFavorite:forceCallPipe"
                       [video]="video"
                       (onToggle)="toggle(video.id)"
                       [favorite]="isItemFavorite(video.id)"></app-list-item>
        <div id="scrollAnchor"></div>
    </div>
    <div class="more-wrap" *ngIf="videos?.length < youtube.defaultSummaryResult">
        <button mat-raised-button
                color="primary"
                (click)="getVideoList()">Ещё
        </button>
    </div>
</div>
