@import 'src/styles/variables';
.list-item {
    display: inline-flex;

    @media(max-width: $max-small){
        display: block;
    }
}

.star {
    $size: 40px;

    width: $size;
    height: $size;
    font-size: $size;
    overflow: hidden;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    &.selected {
        color: #ffe600;
    }
}


iframe {
    @media(max-width: $max-small){
        max-width: 100%;
        min-width: initial;
        width: initial;
        max-height: 100%;
        height: initial;
        min-height: initial;
    }
}
