.inline-search {
    position: relative;

    &__label {
        width: 100%;
    }

    &__input {
        width: 100%;
        padding-left: 40px;
    }

    &__icon {
        position: absolute;
        left: 10px;
        top: 8px;

        cursor: pointer;
    }
}

