@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    border: none;
}

.g-layout {
    display: grid;
    overflow: hidden;
}
